@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(185, 75%, 39%);
    align-items: center;
    display: flex;
    min-height: 100vh;
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 48vw bottom 40vh, left 45vw top 44vh;
}

.container {
    margin: 0 auto;
    text-align: center;
}

.card {
    max-width: 420px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    margin: 1rem;
    
}

.img-circle img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin-top: -52px;
    margin-bottom: 20px;
}

.name h2 {
    color: hsl(229, 23%, 23%);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.name h2 span {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
}

.name p {
    color: hsl(227, 10%, 46%);
    font-size: 13px;
}

.footer-card {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid  hsla(227, 10%, 46%, 02);
    padding: 30px 50px;
    margin-top: 30px;
}
.footer-card p.num {
    font-size: 18px;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
    margin-bottom: 5px;
}

.footer-card p {
    color: hsl(227, 10%, 46%);
    font-size: 13px;
}